[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=BlueBrick
GenericName=BlueBrick Lego Layout Planer
Terminal=false
Type=Application
Categories=Application
Comment=Plan Lego Layout with BlueBrick
Icon=/opt/bluebrick/icons/32x32/apps/BlueBrick.png
Exec=mono /opt/bluebrick/BlueBrick.exe
MimeType=application/bluebrick;application/trackdesigner;application/4dbrix
